
<div class="signin-page" >

    <mat-card >
      <mat-card-title style="text-align:center;">Sign Up</mat-card-title>
        <mat-card-content>
          <form>

            <mat-form-field  appearance="outline" >
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter name" >
            </mat-form-field>
          
            <mat-form-field  appearance="outline" >
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Enter email" >
              </mat-form-field>
            
            <mat-form-field  appearance="outline">
              <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter password" >
            </mat-form-field>

            
             <mat-checkbox >I accept the terms & conditions</mat-checkbox>
      
                
      
                <div>
                  <button mat-raised type="submit">SignUp</button>
                  </div>
            
          </form>
        </mat-card-content>
      </mat-card>
     
     </div>

    
      
    
    
     
  

    



