
<div class="signin-page" >

    <mat-card >
      <mat-card-title style="text-align:center;">Sign in</mat-card-title>
        <mat-card-content>
          <form>
              
            <mat-form-field  appearance="outline" >
                
                    <button mat-raised type="submit">Continue with facebook</button>
                
            </mat-form-field>
          
            <mat-form-field  appearance="outline">
                
                <button mat-raised type="submit">I'll use email</button>
                
            </mat-form-field>
           
        
          </form>
          <p style="text-align:center; color:white">Already have an account? <a class="btn" routerLink="/auth">Login</a></p>
        </mat-card-content>
      </mat-card>
     
     </div>

    
      
    
    
     
  

    



