<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous" />
    </head>

    <body>
<div class="header">
    <img src="assets/images/CB_logo.png" width="100" height="100">
    <p style="font-size: 25px; margin-top:3%;">TasksBoard</p>
    </div>

    <div class="body">
       <div class="dots">
        <p>My Tasks</p>
       <!---<i class="fad fa-ellipsis-v"></i> -->
       <button mat-icon-button [matMenuTriggerFor]="menu">
       <mat-icon>more_vert</mat-icon> 
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Delete list</span>
        </button>
        <button mat-menu-item disabled>
          <span>Rename list</span>
        </button>
        <button mat-menu-item>
          <span>Sort by date</span>
        </button>
        <button mat-menu-item>
            <span>Share list</span>
          </button>
          <button mat-menu-item>
            <span>Delete all completed tasks</span>
          </button>
      </mat-menu>
       </div>
        <div class="plus">
            <i style="font-size:30px; margin-right:6%; "class="fas fa-plus-circle"></i>
        <p>Add a task</p>
        </div>
    </div>
    
    <div class="bottom-right">
    <i style="font-size:70px"class="fas fa-plus-circle"></i>
    </div>

   
</body>

