<div class="plus">
    <i style="font-size:30px; margin-right:5%;"class="far fa-circle"></i>
    <p>Campus build</p>
    <i style="font-size:18px ; margin-left:26%;"class="fal fa-pen"></i>
    </div>


    <div class="content">
        <i style="font-size:18px ; margin-left:1%;" class="far fa-trash"></i>
        <i style="font-size:18px ; margin-left:82%;" class="fal fa-times"></i>
        <p id="A">Campus build</p>
        <textarea placeholder="Add details"></textarea>
        <br>
        
            <a id="B">Add date</a>  
    <br>
       <a id="C">Move to another list</a>
    
    </div>